@model CreateCategoryViewModel
@{
    ViewData["Title"] = "CreateCategory";
}

<div class="container">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form asp-action="CreateCategory" method="post">
                <div class="mb-3">
                    <label asp-for="IdentityUserId" class="form-label"></label>
                    <input class="form-control" asp-for="IdentityUserId" value="@ViewBag.id">
                </div>
                <div class="mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input class="form-control" asp-for="Name">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <div class="row mt-3">
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{

    @await Html.PartialAsync("_ValidationScriptsPartial")

}
