@model List<Entities.Category>
@{
    ViewData["Title"] = "Kategorilerim";
}

<div class="container">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="row">
                <div class="col-md-6">
                    <h2>Kategorilerim (@User.Identity!.Name)</h2>
                </div>
                <div class="col-md-6">
                    <input type="text" id="categorySearch" placeholder="Kategori adına göre Ara..." class="form-control">
                </div>
            </div>

            <table class="table table-striped" id="categoryTable">
                <thead>
                    <tr>
                        <th scope="col" data-filter="true">Kategori Adı</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td> <a class="btn btn-outline-success btn-sm" asp-action="UpdateCategory" asp-route-id="@item.Id" title="Güncelle"><i class="far fa-edit"></i></a></td>
                            <td> <a class="btn btn-outline-danger btn-sm" title="Sil" onclick="confirmDelete(@item.Id)"><i class="fas fa-trash-alt"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="float-start">
                <a class="btn btn-primary btn-sm" asp-action="CreateCategory">Kategori Ekle</a>
            </div>
        </div>
    </div>
</div>





@section Scripts{

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/categoryindex.js"></script>
}
