@model List<Entities.Category>
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Kategorilerim (@User.Identity!.Name)</h2>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Kategori Adı</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td> <a class="btn btn-outline-success btn-sm" asp-action="UpdateCategory" asp-route-id="@item.Id" title="Güncelle"><i class="far fa-edit"></i></a></td>
                            <td> <a class="btn btn-outline-danger btn-sm" title="Sil" onclick="confirmDelete(@item.Id)"><i class="fas fa-trash-alt"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="float-start">
                <a class="btn btn-primary btn-sm" asp-action="CreateCategory">Kategori Ekle</a>
            </div>
        </div>
    </div>
</div>





@section Scripts{
  
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        function confirmDelete(id) {
            Swal.fire({
                title: 'Emin misiniz?',
                text: "Bu kategoriyi silmek istiyor musunuz?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sil',
                cancelButtonText: 'Vazgeç',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch(`/Category/DeleteCategory?id=${id}`, { method: 'POST' })
                        .then(response => response.text())
                        .then(data => {
                            Swal.fire({
                                title: 'Silindi!',
                                text: 'Şifre Detay silindi.',
                                icon: 'success',
                                showConfirmButton: false
                            });

                            setTimeout(function () {
                                location.href = '/Password/Index';
                            }, 2000);
                        })
                        .catch(error => {
                            Swal.fire('Hata!', 'Silme sırasında bir hata meydana geldi.', 'error');
                        });
                }
            });
        }
    </script>


}
