@model SignInViewModel
@{
    ViewData["Title"] = "Giriş Yap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="text-center">
                <h2>Kullanıcı Giriş Formu</h2>
                <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
                </div>
                <hr />
            </div>
            <form method="post">
                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input class="form-control" asp-for="Email">
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Password" class="form-label"></label>
                    <input type="password" class="form-control" asp-for="Password" id="password">
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>

                <div class="mb-3 form-check">
                    <input class="form-check-input" asp-for="RememberMe"/>
                    <label class="form-check-label" asp-for="RememberMe"></label>
                </div>

                <div class="row mt-3">
                    <div class="col-md-6 mt-1">
                        <button type="submit" class="btn btn-primary">Üye Giriş</button>
                    </div>
                    <div class="col-md-6 mt-1">
                        <a class="btn btn-link float-end" style="text-decoration-line:none" asp-action="SignUp" asp-controller="Home">Hesabınız Yok Mu?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{

    @await Html.PartialAsync("_ValidationScriptsPartial")
}

